IS_LOCAL=True
IS_PREPROD=False
IS_PROD=False

DEBUG=True

DATABASE_URL=DATABASE_URL
REDIS_URL=REDIS_URL

TEST_DB_NAME=TEST_DB_NAME

POSTGRES_DB = q_yaar_db
POSTGRES_USER = q_yaar_user
POSTGRES_PASSWORD = q_yaar_password